@import '../../global/scss/variables.scss';
@import '../../global/scss/breakpoints.scss';

.story__footer {
  align-items: center;
  border-top: $brutalist-border;
  display: flex;
  font-size: 16px;
  padding-top: 15px;
  justify-content: space-between;

  .story__comment-toggle {
    @include shadow(2px);
    background: lightgreen;
    border: $brutalist-border;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    min-width: 120px;
    padding: 6px 8px;
    text-transform: uppercase;

    @include for-tablet-portrait-up {
      @include shadow(3px);
      font-size: 16px;
      padding: 12px 15px;
    }

    &:hover {
      @include shadow(0px);
      background: #000;
      color: lightgreen;
    }
  }
}
