@import '../../global/scss/variables.scss';
@import '../../global/scss/breakpoints.scss';

.counter {
  display: flex;

  .counter__buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    user-select: none;

    .counter__buttons--minus,
    .counter__buttons--plus {
      align-items: center;
      color: #000;
      display: flex;
      font-size: 20px;
      height: 25px;
      justify-content: center;
      margin: 0 5px;
      min-height: initial;
      min-width: initial;
      width: 25px;

      @include for-phone-up {
        height: 30px;
        width: 30px;
      }
    }

    .counter__buttons--minus {
        background-color: $secondary !important;
        
        &:focus {
          background-color: $secondary !important;
        }
    }

    .counter__buttons--plus {
        background-color: $primary !important;
        
        &:focus {
          background-color: $primary !important;
        }
    }
  }
  
  .counter__points { 
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
    pointer-events: none;

    @include for-phone-up {
      margin-right: 10px;
    }

    // @include for-tablet-portrait-up {
    //   color: #000;
    //   position: absolute;
    //   right: 15px;
    //   top: 15px;
    // }

    .counter__points__number {
      font-size: 20px;
      margin-right: 7.5px;
    }
  }
}
