@import '../../global/scss/variables.scss';
@import '../../global/scss/breakpoints.scss';

.counter {
  display: flex;
  flex-wrap: wrap;

  .counter__buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    outline-color: transparent;
    user-select: none;

    .counter__buttons--minus,
    .counter__buttons--plus {
      @include shadow(2px);
      align-items: center;
      background-color: lightgreen;
      border: $brutalist-border;
      color: #000;
      display: flex;
      font-size: 20px;
      height: 30px;
      justify-content: center;
      margin: 0 5px;
      min-height: initial;
      min-width: initial;
      width: 30px;

      @include for-phone-up {
        height: 35px;
        width: 35px;
      }

      &:hover {
        @include shadow(0px);
        background-color: #000;
        color: lightgreen;
      }
    }
  }
  
  .counter__points { 
    align-items: center;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 8px;
    margin-right: 10px;
    pointer-events: none;

    @include for-phone-up {
      margin-bottom: 0;
    }

    .counter__points__number {
      font-size: 20px;
      margin-right: 7.5px;
    }
  }
}
