$primary: #4caf50;
$secondary: #ff5252;

// Spinner
$spinner-green: #008744;
$spinner-blue: #0057e7;
$spinner-red: #d62d20;
$spinner-yellow: #ffa700;
$spinner-white: #eee;
$spinner-width: 100px;

$max-width: 1400px;