@import '../../global/scss/variables.scss';

.story-box {
  display: flex;
  flex-direction: column;
  max-height: 0px;
  opacity: 0;
  position: relative;
  transition: opacity 500ms ease-in-out,
              max-height 250ms ease-in-out 500ms;

  &.error {
    .story-box__story {
      border-color: $secondary;

      &:focus {
        border-color: $secondary !important; //errors should override invalid
      }
    }
  } 

  &.has-image {
    max-height: initial;

    &:not(.visible) {
      transition: none;
      max-height: 0;
    }
  }

  &.invalid {

    .story-box__story {

      &:focus {
        border-color: #f1a83d;
      }
    }
    
    .story-box__submit {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  &.is-posting {

    .spinner {
      display: block;
    }
  }

  &.visible {
    margin-bottom: 45px;
    opacity: 1;

    &:not(.has-image) {
      transition: max-height 250ms ease-in-out,
                  opacity 500ms ease-in-out 250ms;
      max-height: 500px;
    }
  }

  .error-message {
    color: $secondary;
    margin-bottom: 15px;
  }

  .spinner {
    display: none;
  }

  .story-box__story {
    border: 1px solid #000;
    font-size: 18px;
    height: 100px;
    margin-bottom: 15px;
    outline: 0;
    padding: 15px;
    transition: border-color 500ms ease-in-out;
    z-index: 1;

    &:focus {
      border-color: $primary;
    }
  }

  .story-box__submit {
    align-items: center;
    align-self: flex-end;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 0;
    display: flex;
    font-size: 18px;
    justify-content: center;
    outline: none;
    padding: 15px;
    transition: opacity 500ms ease-in-out;
    width: 150px;
    z-index: 1;

    .spinner {
      margin: 0 15px 0 0;
      padding: 0;
      width: 25px;
    }
  }
}

.story-box__toggle {
  background-color: $primary;
  border: none;
  border-radius: 0;
  font-size: 18px;
  margin-bottom: 20px;
  outline: 0;
  padding: 15px;
  text-align: center;
  transition: background-color 300ms ease-in-out;
  width: 100%;

  &:hover {
    background-color: darken($primary, 20%);
  }
}
