.radio-buttons {
  display: flex;
  margin-bottom: 15px;

  .radio-buttons__button {
    margin-right: 5px;
  }

  .radio-buttons__label {
    margin-right: 15px;
  }

  .radio-buttons__text {
    margin-right: 15px;
  }
}