@import '../../global/scss/variables.scss';
@import '../../global/scss/breakpoints.scss';

.image-uploader {
  margin-bottom: 15px;
  position: relative;

  .image-uploader__close {
    position: absolute;
    right: 30px;
    top: 0;
    transform: rotate(45deg);

    .image-uploader__close__x {
      font-size: 40px;
      position: relative;
      top: -3px;
    }
  }

  .image-uploader__dropzone {
    align-items: center;
    border: 2px dashed #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;

    @include for-tablet-portrait-up {
      padding: 30px;
    }

    &.active {
      background-color: $primary;
    }

    &.rejected {
      background-color: $secondary;
    }

    &.image-dropped {
      background-color: transparent;
      border: none;
      color: transparent;
      height: 100%;
      left: 0;
      padding: 0;
      position: absolute;
      top: 0;
      width: 100%;

      &.active {
        border: 1px solid $primary;
      }

      &.rejected {
        border: 1px solid $secondary;
      }
    }
  }

  .image-uploader__loader {
    position: relative;
    margin: 15px auto;
    width: $spinner-width;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  // .circular {
  //   animation: rotate 2s linear infinite;
  //   height: 100%;
  //   transform-origin: center center;
  //   width: 100%;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   margin: auto;
  // }

  // .path {
  //   stroke-dasharray: 1, 200;
  //   stroke-dashoffset: 0;
  //   animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  //   stroke-linecap: round;
  // }

  .image-uploader__preview {
    display: block;
    height: auto;
    margin: 20px auto 15px;
    max-width: 50%;
    opacity: 0;
    transition: opacity 500ms ease-in-out;

    &.loaded {
      opacity: 1;
    }
  }
}


// @keyframes rotate {
//   100% {
//     transform: rotate(360deg);
//   }
// }

// @keyframes dash {
//   0% {
//     stroke-dasharray: 1, 200;
//     stroke-dashoffset: 0;
//   }
//   50% {
//     stroke-dasharray: 89, 200;
//     stroke-dashoffset: -35px;
//   }
//   100% {
//     stroke-dasharray: 89, 200;
//     stroke-dashoffset: -124px;
//   }
// }

// @keyframes color {
//   100%,
//   0% {
//     stroke: $spinner-red;
//   }
//   40% {
//     stroke: $spinner-blue;
//   }
//   66% {
//     stroke: $spinner-green;
//   }
//   80%,
//   90% {
//     stroke: $spinner-yellow;
//   }
// }
