@import '../../global/scss/breakpoints.scss';
@import '../../global/scss/variables.scss';

footer {  
  &.footer.mdl-mini-footer {  
    align-items: center;
    bottom: 0;
    display: block;
    padding: 5px 0 15px 0;
    position: fixed;
    width: 100%;
    z-index: 1;

    @include for-phone-up {
      padding-top: 15px;
    }

    @include for-tablet-portrait-up {
      display: flex;
    }

    .email-input {
      left: -9999px;
      opacity: 0;
      position: absolute;
    }

    .icon {
      margin-right: 5px;
    }

    .mdl-logo {
      font-size: 14px;
      line-height: 1;
      margin-bottom: 15px;
      margin-top: 15px;
      margin-right: 25px;

      @include for-tablet-portrait-up {
        font-size: 18px;
      }
    }

    .footer__contact,
    .mdl-mini-footer__left-section {
      align-items: center;
      color: #fff;
      display: flex;
      text-decoration: none;
    }

    .mdl-mini-footer__left-section {
      flex: 1;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: $max-width;
      padding: 0 20px;

      @include for-tablet-landscape-up {
        padding: 0 60px;
        justify-content: initial;
      }
    }
  }
}
