@import '../../global/scss/breakpoints.scss';

.mdl-mini-footer {
  
  &.footer {  
    align-items: center;
    display: block;

    @include for-tablet-portrait-up {
      display: flex;
    }

    .mdl-logo {
      font-size: 14px;
    }
  }
}
