@import '../../global/scss/breakpoints.scss';

html,
body {
  background: #f1f1f1;
  font-family: monospace;
  font-size: 18px;
  height: 100%;
  width: 100%;
}

a,
button {
  &:hover {
    cursor: pointer;
  }
}

.mdl-layout__content {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
  margin: 0 auto;
  max-width: 992px;
  padding-bottom: 68px;
  padding-top: 20px;
  width: 92%;

  @include for-tablet-portrait-up {
    padding-top: 40px;
    width: 80%;
  } 

  @include for-tablet-landscape-up {
    width: 70%;
  } 

  .mdl-spinner {
    left: calc(50% - 14px);
  }

  .spinner {
    margin-bottom: 60px;
  }
}
