@import '../../global/scss/variables.scss';
@import '../../global/scss/breakpoints.scss';

.comment-box {
  border-width: 0;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  max-height: 0px;
  overflow: hidden;
  position: relative;
  transition: margin-bottom $base-transition-time ease-in-out,
              margin-top $base-transition-time ease-in-out,
              max-height $base-transition-time ease-in-out;

  @include for-tablet-portrait-up {
    margin: 0 20px;
  }

  .comment-box__add-comment {
    @include shadow(3px);
    background-color: #fff;
    border: $brutalist-border;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    min-height: initial;
    min-width: initial;
    padding: 10px;
    text-transform: uppercase;

    &:hover {
      @include shadow(0px);
      background-color: #000;
      color: lightgreen;
    }
  }

  &.error {
    &.visible {
      border-color: $secondary;
      transition: none;
    }

    .comment-box__comment {
      outline-color: $secondary; 
    }
  } 

  &.visible {
    border-width: 3px;
    margin: 15px;
    max-height: 300px;

    @include for-tablet-portrait-up {
      margin: 20px;
    }
  }

  .comment-box__comment {
    border-color: transparent;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    min-height: 60px;
    padding: 15px 15px 45px 15px;
    text-transform: uppercase;

    @include for-tablet-portrait-up {
      padding: 15px 45px 15px 15px;
    }

    &::placeholder {
      transition: color 200ms ease-in-out;
    }

    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }

  .error-message {
    color: $secondary;
    font-size: 14px;
    margin: 15px 0;

    @include for-tablet-portrait-up {
      font-size: 16px;
      margin: 20px 0;
    }
  }
}
