@import '../../global/scss/breakpoints.scss';

.message {
  align-items: center;
  animation: hide 250ms forwards;
  animation-iteration-count: 1;
  animation-delay: 3000ms;
  display: flex;
  font-size: 22px;
  justify-content: center;
  line-height: 1.3;
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;

  @include for-tablet-portrait-up {
    font-size: 32px;
  }

  &.message--thank-you {
    background-color: #fff;
  }
}

@keyframes hide {
  0% {
    padding-bottom: 40px;
    padding-top: 40px;
    opacity: 1;
  }

  100% {
    padding-bottom: 0;
    padding-top: 0;
    opacity: 0;
  }
}
